<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рекомендации</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .recommendations-container {
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="recommendations-container">
        <h1>РЕКОМЕНДАЦИИ</h1>
        <b>Цель:</b> предложить рекомендации по улучшению расписания сеансов спектаклей на основе собранной статистики.<br>
        <b>Репертуар:</b> <br>
        {% for performance in repertoire_list %}
        <div class="repertoire-container">
            <b>{{ performance.name }}</b><br>
            {% for genre in performance.genre.all %}
            Жанр: {{ genre }}
            {% endfor %} <br>
            Дата начала показа: {{ performance.start_date }}<br>
            Дата окончания показа: {{ performance.expiration_date }}<br>
        </div>
        {% endfor %}
        <b>Популярность спектаклей за последний месяц:</b> <br>
        <table>
            <thead>
                <tr>
                    <th>Спектакль</th>
                    <th>Продано билетов</th>
                    <th>Доход</th>
                </tr>
            </thead>
            <tbody>
                {% for performance in performances_popularity %}
                <tr>
                    <td>{{ performance.performance__name }}</td>
                    <td>{{ performance.total_sold_tickets }}</td>
                    <td>{{ performance.total_revenue }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <b>Популярность времени за последний месяц:</b> <br>
        <table>
            <thead>
                <tr>
                    <th>Интервал времени</th>
                    <th>Продано билетов</th>
                    <th>Доход</th>
                </tr>
            </thead>
            <tbody>
                {% for interval, data in time_popularity %}
                <tr>
                    <td>{{ interval }}</td>
                    <td>{{ data.total_sold_tickets }}</td>
                    <td>{{ data.total_revenue }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <b>Рекомендации по расписанию</b> <br>
        <b>Перенести вечерние сеансы на более позднее время в пятницу и субботу для удобства зрителей.</b><br>
        <b>Увеличить количество сеансов для следующих спектаклей:</b><br>
        {% for performance in top_performances %}
        {{ performance.name }}<br>
        {% endfor %}
        <b>Ввести скидки на билеты для следующих спектаклей:</b><br>
        {% for performance in least_popular_performances %}
        {{ performance.name }}<br>
        {% endfor %}
        <b>Провести акцию "Семейный билет" с 20% скидкой для семей из 4 человек.<br>
        Запустить рекламную кампанию, направленную на студентов и молодежь.</b><br>
    </div>
</body>
</html>